<h1>Editing customer order</h1>

<%= render "form", customer_order: @customer_order %>

<br>

<div>
  <%= link_to "Show this customer order", @customer_order %> |
  <%= link_to "Back to customer orders", customer_orders_path %>
</div>
