<p style="color: green"><%= notice %></p>

<h1>Customer orders</h1>

<div id="customer_orders">
  <% @customer_orders.each do |customer_order| %>
    <%= render customer_order %>
    <p>
      <%= link_to "Show this customer order", customer_order %>
    </p>
  <% end %>
</div>

<%= link_to "New customer order", new_customer_order_path %>
